
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
  --primary-color: #ffff;
  --secondary-color:#d50000;
}

body {
    color: var(--primary-color);
    background-color: #101111;
    min-height: calc(100vh - 30px);
}
.hero{
  height: calc(100vh - 30px);
  color: var(--primary-color);
  background-color: #101111;
  border: 1px solid var(--primary-color);
  margin:15px;
  padding:10px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.header-title{
  font-size: 2rem;
  font-style: italic;
}
.header-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
header {
    height: 75px;
}
.main-logo:hover{
  transform: scale(1.1);
}
.main-navigation{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    text-align: left;
}

.main-navigation > li > a, .main-navigation > li > a:visited  {
    text-decoration: none;
    color: var(--primary-color);
    cursor:pointer;
}

.main-navigation > li > a:hover  {
    color: var(--secondary-color);

}
.hero-main {
  margin-top: 60px;
  padding:0 15px;
}
.left {
  text-align:right;
  width: fit-content;
}
.hero-title{
  width: 250px;
}
.hero-subtitle {
  margin-right: 10px;
  font-size: 12px;
  font-weight: 400;
  background: linear-gradient(90deg, #000, #fff, #000);
  letter-spacing: 5px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: shine 5s linear infinite;
  position: relative;
}
@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 500%;
  }
}
.hero-content{
    display: flex;
    flex-direction: column;
    gap:1em;
}
.hero-img{
  width: inherit;
}

@keyframes circle {
  0% { clip-path: circle(100% at 50% 50%); }
  25% { clip-path: circle(20% at 50% 50%); }
  50% { clip-path: circle(20% at 12% 84%); }
  75% { clip-path: circle(20% at 93% 51%); }
  100% { clip-path: circle(20% at 70% 10%); }
}
.clip {
  animation: 5s circle;
}

@media (width > 880px) {
  .hero-content{
    flex-direction: row;  
  } 

}

@media (width > 1200px) {
  h1 {
    font-size: 5.5rem;
  }
  article {
    margin-top: 90px;
  }
  .hero-img{
    margin: 0 auto;
    width: 700px;
  }
  .left {
    margin-left: 50px;
  }
  .hero-title{
    width: 500px;
  }
  .hero-subtitle {
    margin-right: 10px;
    font-size: 18px;
    font-weight: 400;
  }
}
.hero-audio{
  position: absolute;
  z-index: 9;
  bottom:30px;
  right: 20px;
}
/******************* WORK *******************/
.work {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}
@media (width > 1000px) {
  .work {
    justify-content: flex-start;
  }
}
.card {
  text-decoration: none;
  margin: .5rem;
  padding: 1rem;
  color: var(--primary-color);
  display:flex;
  flex-direction: column;
  width: 16rem;
  border: 1px solid var(--primary-color);
  border-radius: 15;
  gap: 10px;
  position: relative;
}
.card:hover{
  transform: scale(1.01);
  cursor: pointer;
}
.card-title{
  font-size: 22px;
}
.card-text{
  font-size: 16px;
  font-weight: 500;
  --lh: 1.2rem;
  line-height: var(--lh);
  --max-lines: 5;
  max-height: calc(var(--lh) * var(--max-lines));
  overflow: hidden;
  position: relative;
}

.card-link{
  margin-bottom: -10px;
  position: absolute;
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: 600;
  bottom: 15px;
}

/************* DETAIL ******************/
.detail{
  display: flex;
  flex-direction: column;
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 18px;
  gap: 20px;
  padding: 10px;
  background-image: url("./img/berserkcrew.webp");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
}
.volume {
  display:flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.destacada{
  width: 100%;
  height: 500px;
  background-image: url("./img/mobile.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* mobile */
@media only screen and (min-width: 480px) {
  .destacada {
    background-image: url("./img/mobile.webp");
  }
}
/* laptop -tablet */
@media only screen and (min-width: 1024px) {
  .destacada {
    background-image: url("./img/tablet.webp");
  }
}

/* Desktop */
@media only screen and (min-width: 1600px) {
  .destacada {
    background-image: url("./img/desktop.webp");
  }
}
.volume-img{
  width: fit-content;
}
.volume-text{
  background-color: #000;
}
@media (width > 650px) {
  .volume {
    flex-direction: row;
    align-items: flex-start;
  }
  .volume-img{
    height: fit-content;
  }
  .volume-video{
    width: 620;
    height: 385;
  }
}
.volume-body{
  display:flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}
.volume-genres{
  padding: 10px;
  list-style: circle;
  background-color: #000;
  width: fit-content;
}
.volume-genres>li{
  margin-left: 20px;
}
/********* AUTHOR **********/
.author-main{
  padding: 0 15px;
  margin-bottom:20px;
  line-height: 1.4;
}
.author-title{
  margin-bottom: 20px;
}
.author-content{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}
.author-img{
max-width: 350px;
}
.book:hover{
  transform: scale(1.1);
}
.sword {
  height: 35px;
  margin-left: 10px;
  animation: hideshow 4s linear infinite;
}
@keyframes hideshow {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
} 
@media (width > 1350px) {
  .author-content{ 
    flex-direction: row;
    align-items: flex-start;
    font-size: 18px;
  }
  .author-img{
    height: fit-content;
  }
}
.figure {
  display: flex;
  flex-direction: column;
}
/********* SOURCES **********/
.sources-section{
  padding: 10px 45px;
}
.link{
text-decoration: none;
color: var(--primary-color);
  cursor:pointer;
}
.link:hover{
  color: var(--secondary-color) !important;
}
.link:visited{
  text-decoration: none;
  color: var(--primary-color);
  cursor:pointer;
}
footer{
  width: 96%;
  border-top : 1px solid var(--secondary-color);
  padding: 10px;
  position: absolute;
  bottom: 20px;
}
.footer-logo {
  height: 30px;
}
.footer-web{
  position: relative;
  margin-top : 60px;
}
